:root{
    --primaryColor: #4407c7;
    --secondaryColor: #fb2a84;
    --colorPink:#ff67a1;
    --borderColor:#16c211;
    --btnhoverBg: #4407c7;
    
}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.container{width:100%;max-width:1270px;padding:0 15px;margin:0 auto}

/* typography */
body{font-family: "Lato", serif;margin: 0;padding: 0;}
h1{color: var(--primaryColor);font-size: 55px;text-transform: uppercase;font-weight: 800;margin: 0;position: absolute;left: 6%;top: 12%;}
h1 span{font-size: 42px;}
h2{color: var(--colorPink);font-size: 32px;line-height: 110%;padding-left: 15px;}
p,label{color: var(--primaryColor);font-weight: 400;font-size: 18px;margin: 10px 0px;padding-left: 15px;}


.wrapper{height: 100vh;width: 100%;display: flex;flex-direction: column;align-items: center;overflow: hidden;justify-content: center;}
.wrapper:after{content:'';position:absolute;background-image:url(./images/main-bg-bottom.png);width:416px;height:159px;right:0;bottom:0;background-repeat:no-repeat;background-size:cover}
.main-bg{width: 100%;height: 100%;object-fit: cover;z-index: -1;position: absolute;object-position: top;}
.main-screen {padding-top: 107px;}

.form-sec{background-image: url('./images/form-bg.png');background-repeat:no-repeat;background-size:100%;padding: 50px 100px 20px;z-index: 9;position: relative;}
.form-sec input[type=text]{background-color:var(--primaryColor);border:0;border-radius:50px;padding:13px 15px;display:block;color:#fff;font-size:20px;font-weight:700;text-transform:capitalize;width: 100%;
    max-width: 400px;}
input:focus-visible{outline: 0;}
.form-sec label{display:block}
.form-sec h2{margin: 10px 0px 30px;}
.form-sec input[type=submit]{border-radius: 50px;background-color: var(--secondaryColor);border: 0;color: #fff;text-transform: capitalize;padding: 13px 15px;width: 100%;max-width: 200px;font-size: 16px;display: block;margin: 0 auto;cursor: pointer;transition:0.6s}
.form-sec input[type=submit]:hover{background-color: var(--btnhoverBg)}

.avatar-sec{margin:25px 0 30px}
ul {list-style-type: none;padding-left: 0;}
li {display: inline-block;}
input[type="radio"][id^="av"] {display: none;}
  .avatar-sec label{padding:3px;display:block;position:relative;margin:3px;cursor:pointer;background-size:100%;background-repeat:no-repeat}
.avatar-sec label img{height:100px;width:100px;transition-duration:.2s;transform-origin:50% 50%}
.avatar-sec :checked + label {background-image: url('./images/image-border.png');}
.avatar-sec :checked+label img{transform:scale(.9);z-index:-1}

/* responsive */
@media only screen and (min-width:1550px){
    h1{font-size: 80px;}
    h1 span{font-size: 65px;}
}
@media only screen and (max-width:992px){
    h1{text-align: center;font-size: 48px;margin-bottom: 25px;position: unset;}
    .main-screen {padding-top: 40px;}
    h1 span{font-size: 38px;}
    h2{font-size: 28px;}
    .form-sec{background-image: linear-gradient(#fee1ee, #eeebfc);border-radius: 20px;padding: 40px 35px 40px;}
    .wrapper{overflow: auto;padding: 10px 15px;display: block;}
    .main-bg{display: none;}
}
@media only screen and (max-width:420px){
    .form-sec{padding: 30px;}
    .main-screen {padding-top:0px;}
    .wrapper:after{display: none;}
}
@media only screen and (max-width:375px){
    .form-sec { padding: 30px 20px;}
}